*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
   
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier';
    color: black;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFF;
    z-index: 1;
    border-bottom: 1px solid #000;
}

nav ul{
    list-style-type: none;
    margin: none;
    padding: 0;
    overflow: hidden;
    
}

nav ul li {
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}

nav ul li a:hover {
    text-decoration: underline;
}

section{
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
}
p{
    color: white;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: black;
    
}


h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
    width: 100%;
    line-height: 50px;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 0px;
    flex-grow: 1;
}

#contact {
    background: black;
    padding:10px 0px 10px 0px;
}

.footer {
  
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    margin-left: 100px;
    
}

.footer-section {
    width: 5%;
    margin: 0 auto;
}
.footer-info {
    margin-top: 20px;
}

.footer-info a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.footer-info a:hover {
    text-decoration: underline;
}

.footer p {
    margin:0%;
    margin-top: 150px;
    color: #ccc;
}
.spasi{
    margin-bottom: 100%;
    color: white;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}
.dashed-line {
    border: none; /* Menghilangkan border bawaan */
    border-top: 2px dashed white; /* Garis putus-putus berwarna hitam dengan tebal 2px */
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie{
width: auto;  /* Lebar gambar 200px */
height: auto;  /* Menjaga rasio aspek gambar */
}

.komentar{
    margin-bottom: 20px;
    color: black;


}
